<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create pokemon</title>
</head>
<body>

<h1> Create Pokemon</h1>
<form action="/create" method="post">

    <label for ="id"> id: </label><br>
    <input type="text" name="id"><br>

    <label for ="name"> Navn: </label><br>
    <input type="text" name="name"><br>

    <label for ="primary_type"> primary_type: </label><br>
    <input type="text" name="primary_type"><br>

    <button type="submit">SEND!</button>

</form>

</body>
</html>
